*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.banner{
width: 100%;
height: 80vh;
background-image: linear-
gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
background-size: cover; 
background-position: center;
}

.navbar{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: 10px;
}
.navbar:hover{
    background-color: red;
    opacity: 0.3;
}
.logo{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px; 
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: .5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
margin: 20px auto; 
font-weight: 100;
line-height: 25px;
}
.content button{
width: 200px;
padding: 15px 0;
text-align: center;
margin: 20px 10px;
border-radius: 25px;
font-weight: bold;
border: 2px solid #009688;
background: transparent;
color: #fff;
cursor: pointer;
position: relative;
overflow: hidden;
}

.content span{
    background: #009688; 
    height: 100%; 
    width: 0;
    border-radius: 25px; 
    position: absolute;
    left: 0; 
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    margin: 20px 20px 20px 20px;

    background-color: rgb(238, 224, 227);
    padding: 4% 4%;
    box-shadow: 0 0 9px rgba(0,0,0.6);
    text-align: justify;
}

.about-item i{
    font-size: 40px;
    margin: 0;
}

.about-item h2{
    font-size: 20px;
    margin-bottom: 10px;
    color: red;
    

}

.about-item hr{
    width: 46px;
    height: 3px;
    background-color: #5fbff9;
    margin: 0 100 40 100;
    border: none;
    transition: .5s;
}
.about-item hr:hover:after{
    width: 100%;
}

.about-item:hover{
    background-color: #313866;
}
.about-item:hover i,
.about-item:hover h2,
.about-item:hover h3{
    color: #fff;
}
.about-item:hover hr{
    background-color: #fff;
}

.about-item:hover i{
    transform: translateY(-20px);
}
.about-item:hover i,
.about-item:hover h2,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
}
.cont3 {
    width: 100%;
    background-color:white;
    padding: 50px 100px 50px 100px;
    
}
footer{
     background-color: #222f3e;
     position: relative;
     width: 100%;
     min-height: 350px;
     padding: 3rem 1rem;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    min-width: 250px;
    color:#f2f2f2f2;
    font-family: poppins;
    padding:0 2rem;
}
.col .logo{
    width: 100px;
    margin-bottom:25px;
}
.col h3{
    color:#ff014fff;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.col h3::after{
    content: '';
    height:3px;
    width:0px;
    background-color: #ff014fff;
    position: absolute;
    bottom: 0;
    left:0;
    transition: 0.3s ease;

}
.col h3:hover::after{
    width:30px
}
.col .social a i{
    color:#ff014fff;
   font-size: 30px;
    margin-top:2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}
.col .social a i:hover{
    transform: scale(4.5);
    filter:grayscale(25);
}
.col .links a{
    display: block;
    text-decoration: none;
    color:#f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}
.col .links a::before{
    content:'';
    height: 16px;
    width:3px;
    position: absolute;
    top:5px;
    left:-10px;
    background-color: #ff014fff;
    transition: 0.5s ease;
    opacity: 0;
}
.col .links a:hover::before{
    opacity: 1;
}
.col .links a:hover{
    transform: translateX(-8px);
    color:#ff014fff;
}
.col .contact-details{
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
}
.col .contact-details i{
    margin-right:15px;
    margin-top: 0px;
}
.row .form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem 0;
}
.row .form input{
    background-color: #1a1c20ff;
    border:0;
    outline:none;
    padding:14px 20px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form button{
    padding:14px 20px;
    border:0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ff014fff;
}