{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <!-- Include Bootstrap CSS (CDN) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <!-- Header -->
    <div class="banner" style=" background-image: url('{%static 'img/360_F_128958691_XesV1Q1x10WOuIGLq1PolnEaYHdM08rO.jpg'%}');">
       <nav> 
        <div class="navbar">
            <img src="{% static 'img/logo-color.png' %}" class="logo">
            
            <ul>
              <li><a href="{% url 'home_page' %}">Home</a></li>
              <li><a href="{% url 'feature_page2' %}">Features</a></li>
              <li><a href="{% url 'about2' %}">About Us</a></li>
              <li><a href="{% url 'contact2' %}">Contact Us</a></li>
              <li><a href="{% url 't&c_page2' %}">T&C</a></li> 
              <li><a href="{% url 'profile_page' %}">Profile</a></li> 
  
              <li><a href="{% url 'faq_page2' %}">FAQ</a></li> 
  
              <li><a href="{% url 'artificial_intelligence2' %}">Artificial Intelligence</a></li>
              
              <li><a href="{% url 'logout' %}">Logout</a></li> 
            </ul>
            
        </div>
    </nav>
        <div class="content" style="background-color: 	#3580a0; opacity: .8;">
            <h1>About Us </h1>
            <p>Discover Our Story: About Us and Our Mission.</p> 
            <!-- <div>
            <a href="{% url 'login_page' %}"><button type="button"><span></span>Log In</button> </a>
            <a href="{% url 'register_page' %}"><button type="button"><span></span>Register </button></a>
            </div> -->
            <p style="font-size:xx-small; color: black;">* The scan result is not a diagnosis. To obtain an accurate diagnosis and a recommendation for treatment - consult your doctor. </p>
        </div>

    </div>
    <!-- Header -->

    <div class="acc">

        <h1>About Us</h1>
        <div class="row" style="width: 100%;">

          <div class="col-md-5" style="margin: 5%;">
            <div class="about-item text-center">
              <img
                src="{% static 'img/mission-icon-6.jpg' %}" style="height: 60%; width: 60%" alt="#"/>
              
            </div>
          </div>

        <div class="accordion col-md-5">

            

            <div class="accordion-item" id="acc1">
              <div class="accordion-item-header" style="margin: 3%;">
                Our Mission
          
              </div>
              <div class="accordion-item-body" id="acc2">
                <div class="accordion-item-body-content">
                  Our mission is to empower individuals with the knowledge they need to take control of their skin health. 
                  We're committed to breaking down the barriers that often prevent people from seeking timely dermatological insights. 
                  Through the synergy of cutting-edge artificial intelligence and medical expertise, we aim to democratize skin health 
                  information and redefine the way people interact with their own bodies. 

                  
                </div>
              </div>
            </div>
          </div>
  
  
</div>


<div class="row" style="width: 100%;">


        <div class="accordion col-md-5">

            

            <div class="accordion-item" id="acc1">
              <div class="accordion-item-header" style="margin: 3%;">
                Our Vision
          
              </div>
              <div class="accordion-item-body" id="acc2">
                <div class="accordion-item-body-content">
                  Accessible Healthcare: Anyone, anywhere, can access reliable skin health information instantly. 
                  No more waiting for appointments or navigating through overwhelming search results. Early Intervention: accompanied by stigma. 
                  We aspire to create an environment where seeking information about skin health is normalized, 
                  fostering understanding and empathy. Our platform's reach knows no bounds. From urban centers to remote villages, 
                  SkinSight AI aims to be a universal guide for skin health. SkinSight AI is not a replacement for medical professionals, 
                  but a companion. We strive to complement the expertise of dermatologists and healthcare providers, fostering collaboration 
                  for the benefit of all.
 

                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="about-item text-center">
              <img
                src="{% static 'img/272-2725252_vision-and-mission-icon-png-mission-and-vision.png' %}" style="height: 100%; width: 100%" alt="#"/>
              
              
            </div>
          </div>
  
  
</div>


<div class="cont3">
  <h1>Our Team</h1>
</div>

<div id="about-2" style="background-color: white; padding: 50px">
  <div class="content-box-lg">
    <div class="container2">
      <div class="row">
        <div class="col-md-4">
          <div class="about-item text-center">
            <img
              src="{% static 'img/data-scientist-icon.png' %}"
              style="height: 150px; width: 150px"
              alt="#"
            />
            <h2 style="margin-top: 25px"><center>Data scientists</center></h2>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="about-item text-center">
            <img
              src="{% static 'img/Dermatologists-PNG-Image.png' %}"
              style="height: 150px; width: 150px"
              alt="#"
            />
            <h2 style="margin-top: 25px">
              <center>Dermatologists</center>
            </h2>
           
          </div>
        </div>
        <div class="col-md-4">
          <div class="about-item text-center">
            <img
              src="{% static 'img/Tech-User-Infographic-Thumbnail-Icon-hero.jpg' %}"
              style="height: 150px; width: 150px"
              alt="#"
            />
            <h2 style="margin-top: 25px">
              <center>Technology Enthusiasts</center>
            </h2>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--end banner-->
    <div class="tt">

      <div class="tt1"> 
        <h2>Privacy and Confidentiality</h2>
          <p>We hold your privacy in the highest regard. Your images and personal data are treated with the utmost security and respect. 
          Our stringent data protection protocols ensure that your information remains confidential and is solely utilized for the 
          purpose of providing accurate insights.</p>
       </div>
       <div class="tt2"> 
        <h2>Join Us on This Journey</h2>
          <p>We invite you to be a part of the SkinSight AI community, where curiosity meets technology for the betterment of your skin health. 
            From uncovering potential conditions to staying informed, SkinSight AI is your ally on the path to healthier skin.
          </p>
       </div>

    </div>

<!-- Developer team -->
    <div class="cont3">
      <h1>Our Developers</h1>
    </div>
    
    <div id="about-2" style="background-color: white; padding: 50px">
      <div class="content-box-lg">
        <div class="container2">
          <div class="row">
            <div class="col-md-4">
              <div class="about-item text-center">
                <img
                  src="{% static 'img/sami.jpg' %}"
                  style="height: 150px; width: 150px"
                  alt="#"
                />
                <h2 style="margin-top: 25px"><center>Md. Samiur Rahman</center></h2>
                
              </div>
            </div>
            <div class="col-md-4">
              <div class="about-item text-center">
                <img
                  src="{% static 'img/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9BZHFUMC9NQUZxVXRBZHFUMC8xL3AucG5n.png' %}"
                  style="height: 150px; width: 150px"
                  alt="#"
                />
                <h2 style="margin-top: 25px">
                  <center>Md. Atik Shams</center>
                </h2>
               
              </div>
            </div>
            <div class="col-md-4">
              <div class="about-item text-center">
                <img
                  src="{% static 'img/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9nc0U0SS9NQUZxVTNnc0U0SS8xL3AuanBn.webp' %}"
                  style="height: 150px; width: 150px"
                  alt="#"
                />
                <h2 style="margin-top: 25px">
                  <center>Ziaul Karim Asfi</center>
                </h2>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     <!-- message from Developers -->


     <div class="message" style="padding: 5%; font-family: 'Segoe UI'; background-color: #B9B4C7;">
        <h4>

          Thank you for choosing SkinSight AI as your companion in skin health. <br>
Sincerely, <br>
[Sami, Atik& Asfi] Founder, SkinSight AI <br>

Feel free to adapt and modify this template to match your platform's unique vision, goals, and values. Your vision statement adds depth and purpose to your "About Us" page, showing users what you aim to achieve and how you plan to make a positive impact on their lives.


        </h4>

     </div>

    </div>
    

<!--Footer-->
<footer>
    <div class="container">
        <div class="row">
              <div class="col" id="company"  >
                  <img src="{% static 'img/logo-color.png' %}" style="height: 50px; width: 50px;">
                  <h3>
                    SkinSight Ai is not intended to perform diagnosis, but rather to provide users the ability to image, track, and better understand their moles.
                  </h3>
                  
              </div>


              <div class="col" id="useful-links">
                <h3>Links</h3>
                <div class="links">
                 <a href="{% url 'about' %}">About Us</a>
                 <a href="{% url 'feature_page' %}">Features</a>
                 <a href="{% url 'artificial_intelligence' %}">Artificial Intelligence</a>
                   <a href="{% url 'contact' %}">Contact Us</a>
                   <a href="{% url 'register_page' %}">Register</a>
                <a href="{% url 't&c_page' %}">T&C</a>

                   <a href="">FAQ</a>
                </div>
             </div>

             <div class="col" id="company">
                <h3>
                    If you have any question about our AI system - contact with us through email:
                </h3>
                <h5>support@skinsight-ai.com
                </h5>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                  </div>
                
            </div>
        
        </div>

        <div class="row">
              <div class="form">
                <form action="">
                    <input type="text" placeholder="Email here...">
                    <button><i class="fa fa-paper-plane"></i></button>
                </form>
              </div>
        </div>

    </div>
 </footer>
<b style="font-style: italic; color: red; padding: 20px 0 20px 0;"><center>SkinSight AI | All Rights Reserved. Copyright © 2023
</center></b>
<script src="{% static 'js/about.js' %}"></script>
</body>
</html>