<!-- landing page -->



<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <title>Home Page</title>
  <!--  -->
</head>

<body>
  <div class="banner">
    <div class="navbar">
      <div class="logo">
        <img src="{% static 'img/logo-color.png' %}" alt="logo" width="100px">
      </div>
      <div class="nav-links">
        <ul>
          <li><a href="#">Home</a></li>
          
          <li><a href="#">Features</a></li>
          <li><a href="#">About Us</a>
          </li> <li><a href="{% url 'contact' %}">Contact Us</a></li>
          <li><a href="#">FAQ</a></li> 
          <li><a href="#">Artificial Intelligence</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Registration</a></li>
        </ul>
      </div>
    </div>
  </div>
  
</body>
</html>